.page.home {
    margin-top: 4em;
    .hero {
        height: 450px;
        padding: 7em 0;
    }   
    
    .label--error {
        color: #da1e28 !important;
    }

    .section {
        padding: 3em;
    }
}