.page.home {
    margin-top: 48px;
    .hero {
        background: #c3c3c3;
        height: 450px;
        padding: 80px 0;
    }   
    
    .label--error {
        color: #da1e28 !important;
    }
}